<h1>Login Here</h1>
<%= simple_form_for(@user, url: tokenize_weak_path, html: { class: 'form-horizontal' }) do |f| %>
<%= f.input :name %>
<%= f.input :password %>
<%= f.button :submit, "Login", :class => "btn btn-success" %>
<% end %>